.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

.content * {
    color: black;
}

.content .text {
    text-align: justify;
    width: 70%;
    margin: 30px 0px;
}

.content hr {
    width: 90%;
}

.content .w-img {
    display: flex;
    justify-content: center;
    margin: 30px 0px;
}

.content img {
    height: 200px;
    width: 360px;
    border-radius: 10px;
}


.content img.big {
    height: 50%;
    width: 90%;
    border-radius: 10px;
}

.content .info {
    margin: 30px 0px;
    width: 80%;
    text-align: left;
    font-style: italic;
}

p {
    margin: 15px 0px;
}

.img-table {
    width: 100%;
}

.img-table tr {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.img-table img {
    height: 100px;
    width: 180px;
    border-radius: 0%;
}


.news {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--twobackground);
    text-align: center;
    padding-bottom: 30px;
}

.news h1{
    text-align: center;
}

.news-new {
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    margin: 20px 0px;
}

.news-new h2 {
    margin: 0px;
    margin-bottom: 20px;
}

.news-new .text {
    width: 300px;
}

.news-new .w {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news-new img {
    height: 200px;
    width: 360px;
    margin-left: 30px;
    border-radius: 10px;
}

@media (max-width: 720px) {
    .news-new img {
        height: 0px;
        width: 0px;
        visibility: hidden;
    }

    .content .text {
        width: 90%;
    }

    .content .info {
        text-align: center;
    }
}

@media (max-width: 400px) {
    .content img {
        height: 100px;
        width: 180px;
        border-radius: 10px;
    }
}