* {
    animation: def 2s forwards 1;
}

@keyframes def {
    0% {
        filter: blur(20px);
    }
    100% {
        filter: blur(0px);
    }
}

:root {
    --colortext: #ffffff;
    --lighterbc: #587FF5;
    --lightbc: #4F72DB;
    --sosobc: #415EB5;
    --darkbc: #2A3D75;
    --darkerbc: #131C36;
    --font: Verdana, Geneva, Tahoma, sans-serif;
}

:root.dark {
    --lighterbc: #1B284D;
    --lightbc: #162140;
    --sosobc: #121B33;
    --darkbc: #0D1325;
    --darkerbc: #090D1A;
}

body {
    margin: 0%;
    padding: 0%;
}

body::-webkit-scrollbar {
    display: none;
}

.disclaimer {
    visibility: hidden;
}

* {
    font-family: var(--font);
    color: var(--colortext);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    background-color: var(--lighterbc);
    padding-right: 0%;
}

header a {
    text-decoration: none;
    font-size: 20px;
}

nav {
    width: 100%;
    background-color: var(--lighterbc);
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bolder;
}

nav .menu-el {
    overflow: hidden;
    font-size: 15px;
    background-color: var(--lighterbc);
}

nav a {
    background-color: var(--lighterbc);
}

#themeSwitch {
    background: none;
    border: 0px;
    width: 30px;
    height: 30px;
    align-self: flex-end;
    padding: 0%;
    margin: 0px 10px;
}

#themeSwitch img {
    width: 30px;
    height: 30px;
}

.logo {
    font-size: 20px;
    background-color: var(--lighterbc);
    height: 100%;
    font-size: 30px;
}

footer {
    background-color: var(--darkerbc);
    display: flex;
    justify-content: space-around;
}

footer .con {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.vk {
    text-decoration: none;
    border-radius: 10px;
    border: 3px solid #0077FE;
    padding: 5px;
    margin-top: 10px;
}

.footer-img {
    width: 100px;
    height: 100px;
}

hr {
    height: 4px;
    margin: 0%;
    padding: 0%;
    width: 100%;
    color: var(--fourbackground);
    background-color: var(--fourbackground);
    border: 0px;
}

#tech {
    background-color: red;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 0px;
}

@media (max-width: 720px) {
    header .logo {
        visibility: hidden;
        width: 0%;
    }

    header a {
        font-size: 16px;
    }

    nav {
        width: 100%;
        justify-content: space-between;
    }

    #tech {
        flex-direction: column;
        height: 50px;
    }

    #tech span:nth-child(2) {
        visibility: hidden;
        width: 0%;
        height: 0%;
    }
}